.ui-page .ui-header {
    box-shadow: 5px 5px 10px #888888;
    border-color: forestgreen;
    background-color: forestgreen;
    height: 50px;
}

.icon-bar {
    color: white;
    background-color: white;
    padding: 0;
    margin-top: 10px;
}

#burger {
    box-shadow: 0 0 0 0;
    border-radius: 0 0 0 0;
    display: block;
    margin-top: 3px;
    padding: 0;
    float: left;
    height: 35px;
    width: 40px;
    background-color: transparent;
    border-color: transparent;
}

#logo {
    margin-top: 3px;
    height: 40px;
    width: 100px;
    float: right;
}

#backArrow {
    padding-left: 3px;
    padding-top: 3px;
    font-size: 40px;
    color: white;
}

#menu {
    background-color: white;
    border-color: white;
    width: 60%;
}