.ui-page .ui-header {
    box-shadow: 5px 5px 10px #888888;
    border-color: forestgreen;
    background-color: forestgreen;
    height: 50px;
}

.icon-bar{
    background-color: forestgreen;
}

.navbar-toggle {
    margin-bottom: 0px;
    float: left;
    background-color: forestgreen;
    border-color: white;
}

#logo {
    margin-top: 3px;
    height: 40px;
    width: 100px;
    float: right;
}

#backArrow {
    padding-left: 3px;
    padding-top: 3px;
    font-size: 40px;
    color: white;
}

#menu {
    background-color: forestgreen;
}

.menuOption:link {
    font-family: serif;
    font-size: 20px;
    color: white;
}