html, body {
    //position: relative !important;
    //height: 100%;
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
}

/*.ui-content {
    padding: 0;
    background-color: #eeeeee;
    height: inherit;
}*/

.ui-content {
    align-content: center;
    padding: 10px;
    margin: 0;
    height: 100%;
}

.jumbotron {
    background-color: #f9f9f9;
}

.loginForm {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
}

.glyphicon {
    font-size: 60px;
}

.form-control {
    box-shadow: 5px 5px 10px #888888;
}

.control-label {
    width: 100%;
    text-align: left;
    font-size: 15px;
}

.form-group {
    width: 80%;
}

#tableContainer{
    overflow: hidden
}

#inbound, #outbound{
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

caption{
    font-family: Impact,Haettenschweiler,Franklin Gothic Bold,Charcoal,Helvetica Inserat,Bitstream Vera Sans Bold,Arial Black,sans serif;
    color: black;
}

#header1, #header2{
    font-family: Impact,Haettenschweiler,Franklin Gothic Bold,Charcoal,Helvetica Inserat,Bitstream Vera Sans Bold,Arial Black,sans serif;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
}

#stops, #stops:first-child {
    background-color: forestgreen;
    color: white;
    //position: fixed;
}

#times {
    background-color: lightgray;
    color: black;
}