<div class="content">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <h2 class="text-center"><strong>Login to GeoBus</strong></h2>
        <div class="loginForm" ng-controller="loginCtrl">
            <form ng-submit="submitLogin()">
                
                <div class="form-group">
                    <label for="email" class="control-label">Email</label>
                    <input class="form-control" type="email" ng-model="loginCreds.email"
                           placeholder="user@user.com" required="required">
                </div>
                
                <div class="form-group">
                    <label for="password" class="control-label">Password</label>
                    <input class="form-control" type="password" ng-model="loginCreds.password"
                           placeholder="Enter a Password" required="required"
                           ng-minlength="6"
                           ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$/"
                           ng-pattern-err-type="passError"><br>
                </div>
                
                <div class="form-group">
                    <button class="btn btn-primary btn-block" ladda="logging" type="submit" data-style="expand-right">{{btnText}}</button>
                </div>
                <center><span ng-show="true" ng-style="respLoginMsgColor">{{loginResponse}}</span></center>
            </form>
            
            <div class="registerSection">
                <i><p class="text-center"><strong>Not Registered? Create an Account!</strong></p></i>
                <a type="button" ui-sref="register" class="btn btn-primary btn-block">Create Account</a>
            </div>
        </div>
    </div>
</div>